{{#ifInList type 'array,map'}}
  {{#each children}}
    <div class="dualValue">
      <a class="btn btn-mini" tabindex="-1" onclick="htmlapi.subRemove(this);"><i class="icon-minus"></i></a>
      {{>field}}
    </div>
  {{/each}}
{{/ifInList}}

{{#if field.required}}
  <span class="required">
{{/if}}

{{#if parentIsMap}}
  {{#if formFieldName2}}
    <input type="text" class="key" name="{{formFieldName2}}" value="{{value2}}" />&nbsp;:&nbsp;
  {{/if}}
{{/if}}

{{#ifInList type 'string,date'}}
  <input type="text" name="{{formFieldName}}" value="{{value}}" placeholder="{{placeholder}}"/>
{{/ifInList}}

{{#ifEqual type 'json'}}
  <textarea name="{{formFieldName}}">{{value}}</textarea>
{{/ifEqual}}

{{#ifEqual type 'password'}}
  <input type="password" name="{{formFieldName}}" value="{{value}} placeholder="{{placeholder}}" />
{{/ifEqual}}

{{#ifInList type 'number,int,float'}}
  <input 
    type="number"
    name="{{formFieldName}}" 
    value="{{value}}"
    placeholder="{{placeholder}}"
    {{#ifEqual field.min undefined}} {{else}} min="{{field.min}}"{{/ifEqual}}
    {{#ifEqual field.max undefined}} {{else}} max="{{field.max}}"{{/ifEqual}}
    {{#if field.step}} step="{{field.step}}"{{/if}}
  />
{{/ifInList}}

{{#ifEqual type "blob"}}
  <input type="file" name="{{formFieldName}}" />
{{/ifEqual}}

{{#ifEqual type "boolean"}}
  {{#if field.nullable}}
    <select name="{{formFieldName}}">
      <option value="__-*NULL*-__" {{#ifEqual null ../value}} SELECTED{{/ifEqual}}>NULL</option>
      <option value="" {{#ifEqual false ../value}} SELECTED{{/ifEqual}}>false</option>
      <option value="1" {{#ifEqual true ../value}} SELECTED{{/ifEqual}}>true</option>
    </select>
  {{else}}
    <input type="checkbox" name="{{formFieldName}}" value="1" {{#if value}} CHECKED{{/if}} />
  {{/if}}
{{/ifEqual}}

{{#ifEqual type "enum"}}
  <select name="{{formFieldName}}">
    {{#if field.nullable}}
      <option value="__-*NULL*-__">NULL</option>
    {{/if}}
    {{#each field.options}}
      <option value="{{this}}" {{#ifEqual this ../value}} SELECTED{{/ifEqual}}>{{this}}</option>
    {{/each}}
  </select>
{{/ifEqual}}

{{#ifEqual type "reference"}}
  {{#if field.options}}
    <select name="{{formFieldName}}">
      {{#if field.nullable}}
        <option value="__-*NULL*-__">NULL</option>
      {{/if}}
      {{#eachProperty field.options}}
        <option value="{{key}}" {{#ifEqual key ../value}} SELECTED{{/ifEqual}}>{{value}}</option>
      {{/eachProperty}}
    </select>
  {{else}}
    <input type="text" name="{formFieldName}}" value="{{value}}">
  {{/if}}
{{/ifEqual}}

{{#ifEqual type "__type__"}}
  <select name="{{formFieldName}}" onchange="htmlapi.createTypeChanged($(this).val());">
    {{#each field.options}}
      <option value="{{this}}" {{#ifEqual this ../value}} SELECTED{{/ifEqual}}>{{this}}</option>
    {{/each}}
  </select>
{{/ifEqual}}

{{#if field.required}}
  </span>
{{/if}}

{{#if enlargeable}}
  <a class="btn btn-mini" onclick="htmlapi.switchToTextarea(this);" tabindex="-1" title="Enlarge"><i class="icon-resize-full"></i></a>
{{/if}}

{{#if nullCheck}}
  <label>
    <input type="checkbox" name="{{formFieldNameNull}}" value="1" tabindex="-1" onclick="htmlapi.toggleNull(this);" {{#ifEqual null value}} CHECKED{{/ifEqual}}>NULL
  </label> 
{{/if}}

{{#unless addingField}}
  {{#ifInList type 'array,map'}}
      <a class="btn btn-mini" tabindex="-1" onclick="htmlapi.subAdd(this,'{{name}}');"><i class="icon-plus"></i></a>
    </div>
  {{/ifInList}}
{{/unless}}
