<b>cURL command line:</b>
<br/>
<div id="curl">
  curl 
    -u <i>"${GDAPI_ACCESS_KEY}:${GDAPI_SECRET_KEY}"</i> \<br/>
    -X {{method}} \<br/>
    -H 'Accept: application/json'  \<br/>
    {{#if rawBody}}
      {{#eachProperty rawBody}}
        {{#if value.blob}}
          -F {{key}}="@{{value.value}}" \<br/>
        {{else}}
          -F {{key}}="{{value.value}}" \<br/>
        {{/if}}
      {{/eachProperty}}
    {{else}}
      {{#if contentType}}
        -H 'Content-Type: {{contentType}}' \<br/>
      {{/if}}
      {{#if body}}
        -d '{{body}}' \<br/>
      {{/if}}
    {{/if}}
    '{{baseUrl}}{{path}}'
</div>

<b>HTTP Request:</b><br/>
<div id="request">
  HTTP/1.1 {{method}} {{path}}<br/>
  Host: {{host}}<br/>
  Accept: application/json<br/>

  {{#if contentType}}
    Content-Type: {{contentType}}<br/>
  {{/if}}

  {{#if rawBody}}
    Content-Length: <i>unknown</i><br/>
  {{else}}
    {{#if contentLength}}
      Content-Length: {{contentLength}}<br/>
    {{/if}}
  {{/if}}

  <br/>
  {{#if rawBody}}
    {{#eachProperty rawBody}}
      --{{boundary}}<br/>
      {{#if value.blob}}
        Content-Disposition: form-data; name="{{key}}"; filename="{{value.value}}"<br/><br/>
        Content-Type: application/octet-stream<br/><br/>
        <i>(binary data)</i><br/>
      {{else}}
        Content-Disposition: form-data; name="{{key}}"<br/><br/>
        {{value.value}}<br/>
      {{/if}}
    {{/eachProperty}}
    --{{boundary}}--
  {{else}}
    {{#if prettyBody}}
      {{{prettyBody}}}
    {{/if}}
  {{/if}}
</div>

<b>HTTP Response:</b><br/>
<div id="response">
  <div id="notsent" class="inactive" style="padding: 20px; text-align: center;">Click below to send request.</div>
  <div id="waiting" class="inactive" style="padding: 20px; text-align: center; display: none;">Waiting for response...</div>
  <div id="result" style="display: none;"></div>
</div>
