{{#json-collapsible
  open='{'
  close='}'
  length=length
  initExpanded=true
  as |block|
}}
  {{#if (eq block "summary")}}
    {{length}} link{{unless (eq length 1) 's'}}
  {{else}}
    {{#each list as |obj|}}
      <a class="link" {{action "follow" obj.value}}>{{obj.key}}</a>
    {{/each}}
  {{/if}}
{{/json-collapsible}}

