{{#json-collapsible
  open='{'
  close='}'
  length=length
  initExpanded=model.partial
  as |block|
}}
  {{#if (eq block "summary")}}
    {{#if model.partial}}
      <b>Partial response</b>
    {{else}}
      <i>Full response</i>
    {{/if}}
  {{else}}
    <div>
      <button class="btn bg-primary" {{action "follow" model.first}} disabled={{not model.first}}>First</button>
      <button class="btn bg-primary" {{action "follow" model.previous}} disabled={{not model.prev}}>Prev</button>
      <button class="btn bg-primary" {{action "follow" model.next}} disabled={{not model.next}}>Next</button>
      <button class="btn bg-primary" {{action "follow" model.last}} disabled={{not model.last}}>Last</button>
      {{input-integer value=limit classNames="inline-block" safeStyle="width: 80px;"}} per page <button class="btn bg-primary" {{action "changeLimit"}}>Set</button>
    </div>
  {{/if}}
{{/json-collapsible}}

