{{#json-collapsible
  open='{'
  close='}'
  length=length
  as |block|
}}
  {{#if (eq block "summary")}}
    {{length}} keys
  {{else}}
    {{#each-in model as |k v|}}
      <div class="obj-field">
        <span class="obj-key">{{k}}</span>
        <span class="obj-syntax">:</span>
        <span class="obj-value no-inline-monospace">
          {{#if hasBlock}}
            {{yield k v}}
          {{else if (eq (base-type-of v) 'string')}}
            <span class="string">&quot;{{v}}&quot;</span>
          {{else if (eq (base-type-of v) 'object')}}
            {{json-value model=v}}
          {{else}}
            <span class="{{baseType}}">{{v}}</span>
          {{/if}}
        </span>
        <span class="obj-syntax comma">,</span>
      </div>
    {{/each-in}}
  {{/if}}
{{/json-collapsible}}

