{{#json-collapsible
  open='{'
  close='}'
  length=model.length
  as |block|
}}
  {{#if (eq block "summary")}}
    {{model.length}} resources
  {{else}}
    {{#each mapKeys as |k|}}
      {{#if (get componentForKey k)}}
        <div class="obj-field">
          <span class="obj-key">{{k}}</span>
          <span class="obj-syntax separator">:</span>
          <span class="obj-value no-inline-monospace">
            {{component
              (get componentForKey k)
              key=k
              model=(get model k)
              parent=model
              schemas=schemas
              expanded=expanded
            }}
          </span>
          <span class="obj-syntax comma">,</span>
        </div>
      {{/if}}
    {{/each}}

    <div class="obj-field">
      <span class="obj-key">data</span>
      <span class="obj-syntax separator">:</span>
      <span class="obj-value no-inline-monospace">
        {{#json-array
          key=k
          model=model
          parent=model
        }}
          {{#vertical-collection
            items=model
            estimateHeight=500
            containerSelector="body"
            as |item|
          }}
            <div class="obj-field">
              <span class="obj-value no-inline-monospace">
                {{json-value model=item initExpanded=true schemas=schemas}}
              </span>
              <span class="obj-syntax comma">,</span>
            </div>
          {{/vertical-collection}}
        {{/json-array}}
      </span>
    </div>
  {{/if}}
{{/json-collapsible}}

