{{#if (eq baseType 'string')}}
  <span class="string">&quot;{{strVal}}&quot;</span>
{{else if (eq baseType 'object')}}
  {{component (concat 'json-' objectClass) model=model schemas=schemas}}
{{else if baseType}}
  <span class="{{baseType}}">{{strVal}}</span>
{{else}}
  <span>Unknown value type: {{baseType}}</span>
{{/if}}
