<table class="fixed">
  <thead>
    <tr>
      <th class="text-bold">Field</th>
      <th class="text-bold">Type</th>
      <th class="text-bold" width="50%">Value</th>
      <th class="text-bold" width="80"></th>
    </tr>
  </thead>
  <tbody>
    {{#each editableFields as |field|}}
      <tr>
        <td valign="top">
          {{field.name}} {{#if field.required}}{{field-required}}{{/if}}
        </td>
        <td valign="top">
          {{field.type}}
        </td>
        <td valign="top">
          <div class="hide">{{field.component}} -- {{field.primaryType}} -- {{field.subType}} => {{field.value}}</div>
          {{#if field.isResource}}
            {{#if field.isNull}}
              Uncheck NULL to define --&gt;
            {{/if}}
          {{else if field.component}}
            {{component field.component
              value=field.value
              options=field.options
              schemaType=field.subType
              schema=field.subSchema
            }}
          {{else}}
            Unknown Type: {{field.type}}
          {{/if}}
        </td>
        <td valign="top" class="text-right">
          {{#if field.nullable}}
            <label>{{input type="checkbox" checked=field.isNull}} NULL</label>
          {{/if}}
        </td>
      </tr>
      {{#if field.description}}
        <tr class="field-description">
          <td colspan="4">{{field.description}}</td>
        </tr>
      {{/if}}
      {{#if (and field.isResource (not field.isNull))}}
        <tr>
          <td colspan="4" class="p-20">
            {{input-resource
              initialModel=field.value
              valueChanged=(action (mut field.value))
              schemas=schemas
              schema=field.primarySchema
              method=method
              path=path
              depth=deeper
            }}
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
