{{#json-collapsible
  open='['
  close=']'
  length=length
  showSummaryWhenExpanded=true
  as |block|
}}
  {{#if (eq block "summary")}}
    {{length}} items
  {{else}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#each model as |v|}}
        <span class="array-value no-inline-monospace">
          {{json-value model=v}}
          <span class="obj-syntax comma">,</span>
        </span>
      {{/each}}
    {{/if}}
  {{/if}}
{{/json-collapsible}}
