<span class="obj-syntax open">{{open}}</span>
{{#if (and collapsible length)}}
  {{#if expanded}}
    <span class="obj-summary" {{action "collapse"}}><i class="icon icon-minus-circle"/></span>
  {{else}}
    <span class="obj-summary collapsed" {{action "expand"}}>
      <i class="icon icon-plus-circle"/>
      {{yield "summary"}}
    </span>
  {{/if}}
{{/if}}

{{#if (and expanded length)}}
  <div class="collapsible {{expandedClassNames}}">
    {{yield "body"}}
  </div>
{{/if}}

<span class="obj-syntax close">{{close}}</span>

